
$purple-primary: #302737;
$magenta-primary: #FF00A8;
$purple-secondary: #A07FF0;
$red-secondary: #FF007A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: $purple-primary;
    font-family: 'Source Sans Pro', sans-serif; 
    position: relative;
}

#global-nav {
    height: 14vh;
    width: 100vw;
    background-color: $purple-primary;
    > ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: -2rem;
        > li {
            &:first-child {
                margin-left: 5%;
            }
            &:last-child {
                margin-right: 5%;
            }
            color: $purple-secondary;
            font-size: 5.6rem;
            list-style: none;
            text-align: center;
            > .custom-select {
                position: relative;
                > select {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 5.6rem;
                    background-color: $purple-primary;
                    color: $purple-secondary;
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    padding-right: 1.6rem;
                }
                > .arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    background: $purple-primary;
                    width: 2.4rem;
                    height: 100%;
                    pointer-events: none;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        top: 60%;
                        border-left: 0.8rem solid transparent;
                        border-right: 0.8rem solid transparent;
                        border-top: 1.2rem solid $red-secondary;
                    }
                }
            }    
        }
    }
}

.page__container {
    z-index: -1;
    position: relative;
    bottom: 4%;
    left: -0.3%;
    min-height: 86vh;
    width: 105%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5)), url('/assets/images/mosaic.jpg');
    background-position: 0% 4%;
    -webkit-background-size: cover;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}

/*========== INDEX ==========*/

#wild-series-title {
    width: 40vw;
    text-align: center;
    color: $magenta-primary;
    font-size: 28rem;
    font-weight: 400;
    position: absolute;
    top: 23%;
    left: 2%;
}

/*========== PROGRAMS ==========*/

.programs-index__container {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 65vw;
    text-align: justify;
    z-index: 10;
    > h1 {
        color: $magenta-primary;
        font-size: 8rem;
        font-weight: 500;
    }
    > div > h2 {
        color: $purple-secondary;
        font-size: 4rem;
    }
    > div {
        > p {
            color: #fff;
            font-size: 2.4rem;
            columns: 2;
        }
        > a {
            text-decoration: none;
            display: inline-block;
            color: #fff;
            font-size: 2.4rem;
            font-weight: 400;
            margin: 1% 0%;
            padding: 0.8rem 2.4rem;
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;
            background-color: $purple-secondary;
        }
    }
    > a {
        width: 20%;
        text-align: center;
        display: block;
        margin: 2% 0;
        border-radius: 40px;
        font-size: 2.4rem;
        text-decoration: none;
        color: #fff;
        padding: 1.6rem;
        background-color: $red-secondary;
    }
}

/*========== PROGRAMS/SHOW ==========*/

.show__container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75vw;
    height: auto;
    text-align: justify;
    z-index: 10;
    > .media {
        display: flex;
        > img {
            width: 30%;
            height: auto;
        }
        > .media-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > h1 {
                color: $magenta-primary;
                font-size: 8rem;
                font-weight: 500;
                padding: 3.2rem;
            }
            > p {
                color: #fff;
                font-size: 2.4rem;
                padding:3.2rem;
                line-height: 4rem;
            }
        }
        
    }
    > .seasons {
        width: 30%;
        text-align: center;
        display: block;
        margin: 2% 0;
        border-radius: 40px;
        font-size: 2.4rem;
        text-decoration: none;
        padding: 1.6rem;
        background-color: $purple-secondary;
        > a {
            color: #fff;
            text-decoration: none;
        }
    }
    > a {
        width: 30%;
        text-align: center;
        display: block;
        margin: 2% 0;
        border-radius: 40px;
        font-size: 2.4rem;
        text-decoration: none;
        color: #fff;
        padding: 1.6rem;
        background-color: $red-secondary;
    }
}

/*========== PROGRAM-SHOW-SEASON ==========*/

.show-saison__container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80vw;
    height: auto;
    text-align: justify;
    z-index: 10;
    > h1 {
        font-size: 5.6rem;
        color: $magenta-primary;
    }
    > .media {
        display: flex;
        justify-content: space-between;
        > .media-body {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            > p {
                color: #fff;
                padding-right: 9.6rem;
                font-size: 4rem;
            }
        }
    }
    > h2 {
        font-size: 5.6rem;
        margin-bottom: 2.4rem;
        color: $red-secondary;
    }
    > a {
        width: 30%;
        text-align: center;
        display: block;
        margin: 2% 0;
        border-radius: 40px;
        font-size: 2.4rem;
        text-decoration: none;
        color: #fff;
        padding: 1.6rem;
        background-color: $red-secondary;
    }
    > .episodes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2.4rem;
        > a {
            text-align: center;
            text-decoration: none;
            color: #fff;
            display: block;
            margin: 1%;
            font-size: 1.6rem;
            padding: 1.6rem;
            width: 15%;
            border-radius: 40px;
            background-color: $purple-secondary;
        }
    } 
}

.show-episode__container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80vw;
    height: auto;
    text-align: justify;
    z-index: 10;
    > h1 {
        font-size: 5.6rem;
        color: $magenta-primary;
    }
    > h2 {
        font-size: 5.6rem;
        margin-bottom: 2.4rem;
        color: $red-secondary;
    }
    > p {
        color: #fff;
        font-size: 4rem;
    }
    > a {
        width: 30%;
        text-align: center;
        display: block;
        margin: 2% 0;
        border-radius: 40px;
        font-size: 2.4rem;
        text-decoration: none;
        color: #fff;
        padding: 1.6rem;
        background-color: $red-secondary;
    }
}

/*==============================*/
/*========== CATEGORY ==========*/
/*==============================*/

.category__container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75vw;
    height: auto;
    text-align: justify;
    z-index: 10;
    > ul {
        > li {
        font-size: 4rem;
        font-weight: 400;
        color: $magenta-primary;
        > a {
            font-size: 5.6rem;
            text-decoration: none;
            color: $red-secondary;
        } 
        }
    }
}

.category-show__container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75vw;
    height: auto;
    text-align: justify;
    z-index: 10;
    > .program-head {
        display: flex;
        justify-content: space-between;
        > h3 {
            font-size: 4.8rem;
            color: $magenta-primary
        }
        > a {
            font-size: 5.6rem;
            text-decoration: none;
            color: $red-secondary;
        } 
    }
    > p {
        font-size: 4rem;
        font-weight: 400;
        color: $purple-secondary;
        }
    > .category {
        color: $red-secondary;
    }    
}