<header>
    <nav id="global-nav">
        <ul>
            <li>
                <div class="custom-select">
                    <select>
                        <option selected disable>Catégories</option>
                        <option>loulou</option>
                    </select>
                    <span class="arrow"></span>
                </div>
            </li>
            <li>
                <div class="custom-select">
                    <select>
                        <option selected disable>Acteurs</option>
                        <option>loulou</option>
                    </select>
                    <span class="arrow"></span>
                </div>
            </li>
            <li>Mes favories</li>
        </ul>
    </nav>
</header>